version: "3.9"
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app

  frontend:
    build: ./ois-reports
    ports:
      - "4200:4200"
    volumes:
      - ./ois-reports:/app
    command: ng serve --host 0.0.0.0 --port 4200
